<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwgj.mlxydedicatedline.mapper.CustomerMapper">
    <sql id="table">customer</sql>

    <resultMap id="BaseResultMap" type="com.dwgj.mlxydedicatedline.entity.Customer">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_no" jdbcType="VARCHAR" property="customerNo"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="call_number" jdbcType="VARCHAR" property="callNumber"/>

        <result column="zip_code" jdbcType="VARCHAR" property="zipCode"/>
        <result column="full_address" jdbcType="VARCHAR" property="fullAddress"/>
        <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="last_update_id" jdbcType="INTEGER" property="lastUpdateId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>

        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, customer_name, customer_no, age, gender, phone_number, call_number, zip_code, full_address,
        english_name, email, message, status, create_time, create_id, last_update_time, last_update_id,
        login_name, password, country, province, city, headimgurl, openid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer customer
        where customer.id = #{id,jdbcType=INTEGER}
        AND status = 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dwgj.mlxydedicatedline.entity.Customer"
            useGeneratedKeys="true">
        insert into customer (customer_name, customer_no, age,
          gender, phone_number, call_number,
          zip_code, full_address, english_name,
          email, message, `status`,
          create_time, create_id, last_update_time,
          last_update_id, login_name, `password`,country,province,city,headimgurl,openid
          )
        values (#{customerName,jdbcType=VARCHAR}, #{customerNo,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
          #{gender,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{callNumber,jdbcType=VARCHAR},
          #{zipCode,jdbcType=VARCHAR}, #{fullAddress,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR},
          #{email,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 1,
          now(), #{createId,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=TIMESTAMP},
          #{lastUpdateId,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
          #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
           #{headimgurl,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}
          )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.dwgj.mlxydedicatedline.entity.Customer" useGeneratedKeys="true">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">
                customer_name,
            </if>
            <if test="customerNo != null and customerNo != ''">
                customer_no,
            </if>
            <if test="age != null and age != ''">
                age,
            </if>
            <if test="gender != null and gender != ''">
                gender,
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number,
            </if>
            <if test="callNumber != null and callNumber != ''">
                call_number,
            </if>
            <if test="zipCode != null and zipCode != ''">
                zip_code,
            </if>
            <if test="fullAddress != null and fullAddress != ''">
                full_address,
            </if>
            <if test="englishName != null and englishName != ''">
                english_name,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="message != null and message != ''">
                message,
            </if>
                `status`,
                create_time,
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''">
                last_update_time,
            </if>
            <if test="lastUpdateId != null and lastUpdateId != ''">
                last_update_id,
            </if>
            <if test="loginName != null and loginName != ''">
                login_name,
            </if>
            <if test="password != null and password != ''">
                `password`,
            </if>
            <if test="country != null and country != ''">
                country,
            </if>
            <if test="city != null and city != ''">
                city,
            </if>
            <if test="province != null and province != ''">
                province,
            </if>
            <if test="headimgurl != null and headimgurl != ''">
                headimgurl,
            </if>
            <if test="openid != null and openid != ''">
                openid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null and customerName != ''">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerNo != null and customerNo != ''">
                #{customerNo,jdbcType=VARCHAR},
            </if>
            <if test="age != null and age != ''">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null and gender != ''">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="callNumber != null and callNumber != ''">
                #{callNumber,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null and zipCode != ''">
                #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="fullAddress != null and fullAddress != ''">
                #{fullAddress,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null and englishName != ''">
                #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="message != null and message != ''">
                #{message,jdbcType=VARCHAR},
            </if>
                1,
                now(),
            <if test="createId != null and createId != ''">
                #{createId,jdbcType=INTEGER},
            </if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateId != null and lastUpdateId != ''">
                #{lastUpdateId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null and loginName != ''">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="country != null and country != ''">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="city != null and city != ''">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null and headimgurl != ''">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="openid != null and openid != ''">
                #{openid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dwgj.mlxydedicatedline.entity.Customer">
        update customer
        <set>
            <if test="customerName != null and customerName != ''">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerNo != null and customerNo != ''">
                customer_no = #{customerNo,jdbcType=VARCHAR},
            </if>
            <if test="age != null and age != ''">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            <if test="callNumber != null and callNumber != ''">
                call_number = #{callNumber,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null and zipCode != ''">
                zip_code = #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="fullAddress != null and fullAddress != ''">
                full_address = #{fullAddress,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null and englishName != ''">
                english_name = #{englishName,jdbcType=VARCHAR},
            </if>
                email = #{email,jdbcType=VARCHAR},
            <if test="message != null and message != ''">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null and createId != ''">
                create_id = #{createId,jdbcType=INTEGER},
            </if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateId != null and lastUpdateId != ''">
                last_update_id = #{lastUpdateId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="country != null and country != ''">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="city != null and city != ''">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null and headimgurl != ''">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="openid != null and openid != ''">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dwgj.mlxydedicatedline.entity.Customer">
    update customer
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      call_number = #{callNumber,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      full_address = #{fullAddress,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{lastUpdateId,jdbcType=INTEGER},
      login_name = #{loginName,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updatePassword">
        update customer
        <set>
            last_update_time = now(),
            password = #{password}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateRepeatedCustomer">
        update customer
        <set>
            status = 0
        </set>
        <where>
            id != #{customerId}
            and id in
            <foreach collection="customerIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </update>
    <update id="updateEmail">
        update customer
        <set>
            email = #{email}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="login" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        where login_name = #{nameOrPhone} or phone_number = #{nameOrPhone} or email = #{nameOrPhone}
    </select>

    <select id="selectByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        where login_name = #{loginName}
    </select>

    <select id="selectByCustomerName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        where customer_name = #{customerName} and `status` = 1
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
    </select>

    <select id="selectByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            <include refid="table"/>
        where openid = #{openid} and `status` = 1
    </select>

    <select id="findByIdList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from customer
        <where>
            status = 1
            and id in
            <foreach collection="idList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="findCustomerListByOpenid" resultMap="customerDTO">
        select <include refid="Base_Column_List"/>
        from customer
        <where>
            status = 1
            and openid = #{openid}
        </where>
    </select>

    <select id="findCustomerCountByOpenid" resultType="java.lang.Integer">
        select count(1)
        from customer
        <where>
            status = 1
            and openid = #{openid}
        </where>
    </select>
    <select id="selectByEmail" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from customer
        <where>
            status = 1 and email = #{email}
        </where>
    </select>

    <resultMap id="customerDTO" extends="BaseResultMap" type="com.dwgj.mlxydedicatedline.dto.CustomerDTO">
        <collection property="goodsList" column="customer_no"
                    select="com.dwgj.mlxydedicatedline.mapper.GoodsMapper.selectGoodsByCustomerNo"/>
        <collection property="customerAccountList" column="id"
                    select="com.dwgj.mlxydedicatedline.mapper.CustomerAccountMapper.selectCustomerAccountByCustomerId"/>
        <collection property="customerPackList" column="id"
                    select="com.dwgj.mlxydedicatedline.mapper.CustomerPackMapper.findPackByCustomerId"/>
        <collection property="customerMoney" column="customer_no"
                    select="com.dwgj.mlxydedicatedline.mapper.customerMoney.CustomerMoneyMapper.selectByCustomerNo"/>
    </resultMap>
</mapper>
