<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwgj.mlxydedicatedline.mapper.coupons.SysCouponsMapper">
    <resultMap id="BaseResultMap" type="com.dwgj.mlxydedicatedline.entity.coupons.SysCoupons">
        <id column="id" jdbcType="INTEGER" property="id"/>
    	
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="is_enable" jdbcType="INTEGER" property="isEnable"/>
        <result column="coupons_code" jdbcType="VARCHAR" property="couponsCode"/>
        <result column="coupons_name" jdbcType="VARCHAR" property="couponsName"/>
        <result column="coupons_type" jdbcType="INTEGER" property="couponsType"/>
        <result column="coupons_amount" jdbcType="DECIMAL" property="couponsAmount"/>
        <result column="time_limit" jdbcType="INTEGER" property="timeLimit"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="update_id" jdbcType="INTEGER" property="updateId"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="minimum_amount" jdbcType="DECIMAL" property="minimumAmount"/>
        <result column="is_exchange" jdbcType="INTEGER" property="isExchange"/>
        <result column="exchange_num" jdbcType="INTEGER" property="exchangeNum"/>
        <result column="overdue_type" jdbcType="INTEGER" property="overdueType"/>
        <result column="time_overdue" jdbcType="TIMESTAMP" property="timeOverdue"/>
    		
    </resultMap>
	
	<!-- 字段 -->
	<sql id="Base_Column_List">
		id, create_time, update_time, status,
		version, is_enable, coupons_code,coupons_name, coupons_type,
		coupons_amount, time_limit, create_id, update_id,
		remarks, minimum_amount, is_exchange, exchange_num,
		overdue_type, time_overdue
	</sql>
	
	<!-- 插入字段实际数值 -->
	<sql id="Insert_Column_Values">
		#{createTime},#{updateTime},#{status},#{version},
		#{isEnable},#{couponsCode},#{couponsName},#{couponsType},
		#{couponsAmount},#{timeLimit},#{createId},#{updateId},
		#{remarks},#{minimumAmount},#{isExchange},#{exchangeNum},
		#{overdueType},#{timeOverdue}
	</sql>
	
	<!-- 插入字段（判空） -->
	<sql id="Base_Column_List_NotNull">
		<if test="createTime != null and createTime != ''">
			create_time, 
		</if>
    	<if test="updateTime != null and updateTime != ''">
			update_time, 
		</if>
    	<if test="status != null and status != ''">
			status, 
		</if>
    	<if test="version != null and version != ''">
			version, 
		</if>
    	<if test="isEnable != null and isEnable != ''">
			is_enable, 
		</if>
    	<if test="couponsCode != null and couponsCode != ''">
			coupons_code,
		</if>
    	<if test="couponsName != null and couponsName != ''">
			coupons_name, 
		</if>
    	<if test="couponsType != null and couponsType != ''">
			coupons_type, 
		</if>
    	<if test="couponsAmount != null and couponsAmount != ''">
			coupons_amount, 
		</if>
    	<if test="timeLimit != null and timeLimit != ''">
			time_limit, 
		</if>
    	<if test="createId != null and createId != ''">
			create_id, 
		</if>
    	<if test="updateId != null and updateId != ''">
			update_id, 
		</if>
    	<if test="remarks != null and remarks != ''">
			remarks, 
		</if>
    	<if test="minimumAmount != null and minimumAmount != ''">
			minimum_amount, 
		</if>
    	<if test="isExchange != null and isExchange != ''">
			is_exchange, 
		</if>
    	<if test="exchangeNum != null and exchangeNum != ''">
			exchange_num, 
		</if>
    	<if test="overdueType != null and overdueType != ''">
			overdue_type, 
		</if>
    	<if test="timeOverdue != null and timeOverdue != ''">
			time_overdue, 
		</if>
    	
	</sql>
	
	<!-- 插入字段实际数值(判空) -->
	<sql id="Insert_Column_Values_NotNull">
		<if test="createTime != null and createTime != ''">
			#{createTime},
		</if>
    	<if test="updateTime != null and updateTime != ''">
			#{updateTime},
		</if>
    	<if test="status != null and status != ''">
			#{status},
		</if>
    	<if test="version != null and version != ''">
			#{version},
		</if>
    	<if test="isEnable != null and isEnable != ''">
			#{isEnable},
		</if>
    	<if test="couponsCode != null and couponsCode != ''">
			#{couponsCode},
		</if>
    	<if test="couponsName != null and couponsName != ''">
			#{couponsName},
		</if>
    	<if test="couponsType != null and couponsType != ''">
			#{couponsType},
		</if>
    	<if test="couponsAmount != null and couponsAmount != ''">
			#{couponsAmount},
		</if>
    	<if test="timeLimit != null and timeLimit != ''">
			#{timeLimit},
		</if>
    	<if test="createId != null and createId != ''">
			#{createId},
		</if>
    	<if test="updateId != null and updateId != ''">
			#{updateId},
		</if>
    	<if test="remarks != null and remarks != ''">
			#{remarks},
		</if>
    	<if test="minimumAmount != null and minimumAmount != ''">
			#{minimumAmount},
		</if>
    	<if test="isExchange != null and isExchange != ''">
			#{isExchange},
		</if>
    	<if test="exchangeNum != null and exchangeNum != ''">
			#{exchangeNum},
		</if>
    	<if test="overdueType != null and overdueType != ''">
			#{overdueType},
		</if>
    	<if test="timeOverdue != null and timeOverdue != ''">
			#{timeOverdue},
		</if>
    	
	</sql>
	
	<!-- 更新字段 -->
	<sql id="Update_Column">
		create_time = #{createTime},
    	update_time = #{updateTime},
    	status = #{status},
    	version = #{version},
    	is_enable = #{isEnable},
    	coupons_code = #{couponsCode},
    	coupons_name = #{couponsName},
    	coupons_type = #{couponsType},
    	coupons_amount = #{couponsAmount},
    	time_limit = #{timeLimit},
    	create_id = #{createId},
    	update_id = #{updateId},
    	remarks = #{remarks},
    	minimum_amount = #{minimumAmount},
    	is_exchange = #{isExchange},
    	exchange_num = #{exchangeNum},
    	overdue_type = #{overdueType},
    	time_overdue = #{timeOverdue},
    	
	</sql>
	
	<!-- 更新字段（判空） -->
	<sql id="Update_Column_NotNull">
		<if test="createTime != null and createTime != ''">
			create_time = #{createTime},
		</if>
    	<if test="updateTime != null and updateTime != ''">
			update_time = #{updateTime},
		</if>
    	<if test="status != null and status != ''">
			status = #{status},
		</if>
    	<if test="version != null and version != ''">
			version = #{version},
		</if>
    	<if test="isEnable != null and isEnable != ''">
			is_enable = #{isEnable},
		</if>
    	<if test="couponsCode != null and couponsCode != ''">
			coupons_code = #{couponsCode},
		</if>
    	<if test="couponsName != null and couponsName != ''">
			coupons_name = #{couponsName},
		</if>
    	<if test="couponsType != null and couponsType != ''">
			coupons_type = #{couponsType},
		</if>
    	<if test="couponsAmount != null and couponsAmount != ''">
			coupons_amount = #{couponsAmount},
		</if>
    	<if test="timeLimit != null and timeLimit != ''">
			time_limit = #{timeLimit},
		</if>
    	<if test="createId != null and createId != ''">
			create_id = #{createId},
		</if>
    	<if test="updateId != null and updateId != ''">
			update_id = #{updateId},
		</if>
    	<if test="remarks != null and remarks != ''">
			remarks = #{remarks},
		</if>
    	<if test="minimumAmount != null and minimumAmount != ''">
			minimum_amount = #{minimumAmount},
		</if>
    	<if test="isExchange != null and isExchange != ''">
			is_exchange = #{isExchange},
		</if>
    	<if test="exchangeNum != null and exchangeNum != ''">
			exchange_num = #{exchangeNum},
		</if>
    	<if test="overdueType != null and overdueType != ''">
			overdue_type = #{overdueType},
		</if>
    	<if test="timeOverdue != null and timeOverdue != ''">
			time_overdue = #{timeOverdue},
		</if>
    	
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_coupons
        where id = #{id,jdbcType=INTEGER}
    </select>
	
	<insert id="insert" parameterType="com.dwgj.mlxydedicatedline.entity.coupons.SysCoupons">
		insert into sys_coupons
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time, 
			update_time, 
			status, 
			version, 
			is_enable, 
			coupons_code, 
			coupons_name, 
			coupons_type, 
			coupons_amount, 
			time_limit, 
			create_id, 
			update_id, 
			remarks, 
			minimum_amount, 
			is_exchange, 
			exchange_num, 
			overdue_type, 
			time_overdue, 
					</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Insert_Column_Values"/>
		</trim>
	</insert>
	
	<insert id="insertSelective" parameterType="com.dwgj.mlxydedicatedline.entity.coupons.SysCoupons">
		insert into sys_coupons
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List_NotNull"/>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Insert_Column_Values_NotNull"/>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.dwgj.mlxydedicatedline.entity.coupons.SysCoupons">
		update sys_coupons
		<set>
			<include refid="Update_Column"/>
		</set>
		
		<where>
		id = #{id} and status = 1
		</where>
		
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.dwgj.mlxydedicatedline.entity.coupons.SysCoupons">
		update sys_coupons
		<set>
			<include refid="Update_Column_NotNull"/>
		</set>
		<where>
		id = #{id} and status = 1
		</where>
	</update>
	
	<!-- 移除数据（物理删除） -->
	<delete id="removeByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_coupons
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 删除数据（逻辑删除） -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update  sys_coupons
		set `status` = 0
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByCouponsCode" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from sys_coupons
		<where>
			status = 1
			and coupons_code = #{couponsCode}
		</where>
	</select>

	<select id="selectEnableListBySysCouponsIds" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from sys_coupons
		<where>
			status = 1
			and is_enable = 1
			and id in
			<foreach collection="sysCouponsIdList" item="id" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</where>
	</select>

</mapper>