<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.warehouse.mapper.AgentMapper">
  <resultMap id="BaseResultMap" type="com.example.warehouse.entity.Agent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="agent_code" jdbcType="VARCHAR" property="agentCode" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_id" jdbcType="INTEGER" property="lastUpdateId" />
    <result column="totalOrder" jdbcType="INTEGER" property="totalOrder" />
    <result column="totalMoney" jdbcType="DOUBLE" property="totalMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    id, agent_name, agent_code, amount, `status`, create_time, create_id, last_update_time,
    last_update_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from agent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.warehouse.entity.Agent">
    insert into agent (id, agent_name, agent_code,
      amount, `status`, create_time,
      create_id, last_update_time, last_update_id
      )
    values (#{id,jdbcType=INTEGER}, #{agentName,jdbcType=VARCHAR}, #{agentCode,jdbcType=VARCHAR},
      #{amount,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{createId,jdbcType=INTEGER}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.warehouse.entity.Agent">
    insert into agent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="agentName != null">
        agent_name,
      </if>
      <if test="agentCode != null">
        agent_code,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateId != null">
        last_update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentCode != null">
        #{agentCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateId != null">
        #{lastUpdateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.warehouse.entity.Agent">
    update agent
    <set>
      <if test="agentName != null">
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="agentCode != null">
        agent_code = #{agentCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateId != null">
        last_update_id = #{lastUpdateId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.warehouse.entity.Agent">
    update agent
    set agent_name = #{agentName,jdbcType=VARCHAR},
      agent_code = #{agentCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{lastUpdateId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List"/>,
    (select count(1) from agent_order where agent_id = t.agent_code) as totalOrder,
    (select sum(ao.money) from agent_order ao where agent_id = t.agent_code) as totalMoney
    from
        agent t
    where
      t.status = 1
    <if test="agentName != null">
      and t.agent_name like concat('%',#{agentName,jdbcType=VARCHAR},'%')
    </if>
    <if test="agentNumber != null">
      and t.agent_number like concat('%',#{agentNumber,jdbcType=VARCHAR},'%')
    </if>
    ORDER BY t.create_time desc
    LIMIT #{pageNumber},#{pageSize}
  </select>

  <select id="countSelectAll" resultType="int" parameterType="java.util.Map">
    select
        count(1)
    from
    agent t
    where
    t.status = 1
    <if test="agentName != null">
      and t.agent_name like concat('%',#{agentName,jdbcType=VARCHAR},'%')
    </if>
    <if test="agentNumber != null">
      and t.agent_number like concat('%',#{agentNumber,jdbcType=VARCHAR},'%')
    </if>
  </select>

  <update id="deleteById" parameterType="com.example.warehouse.entity.Agent">
    update agent
    set `status` = 0,
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_id = #{lastUpdateId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  下拉菜单专用-->
  <select id="getAgentList" resultMap="BaseResultMap">
    select id,agent_name,agent_code from agent where status = 1 ORDER BY create_time
  </select>

    <select id="selectCount" resultType="java.lang.Integer">
      select count(id) from agent
    </select>
</mapper>
