<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwgj.mlxydedicatedline.mapper.customerPack.CustomerPackIdentityMapper">
    <resultMap id="BaseResultMap" type="com.dwgj.mlxydedicatedline.entity.customerPack.CustomerPackIdentity">
        <id column="id" jdbcType="INTEGER" property="id"/>
    	
	    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_id" jdbcType="INTEGER" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="customer_pack_id" jdbcType="INTEGER" property="customerPackId"/>
        <result column="customer_identity_id" jdbcType="INTEGER" property="customerIdentityId"/>
        <result column="identity_code" jdbcType="VARCHAR" property="identityCode"/>
        <result column="identity_name" jdbcType="VARCHAR" property="identityName"/>
        <result column="images_id" jdbcType="VARCHAR" property="imagesId"/>
    		
    </resultMap>
	
	<!-- 字段 -->
	<sql id="Base_Column_List">
		id, create_time, create_id, create_name, update_time, update_id, update_name,
		status, version, remarks,
		customer_pack_id, customer_identity_id, identity_code, identity_name, images_id
	</sql>
	
	<!-- 插入字段实际数值 -->
	<sql id="Insert_Column_Values">
		#{createTime},#{createId},#{createName},#{updateTime},#{updateId},#{updateName},
		#{status},#{version},#{remarks},
		#{customerPackId},#{customerIdentityId},#{identityCode},#{identityName},#{imagesId}
	</sql>
	
	<!-- 插入字段（判空） -->
	<sql id="Base_Column_List_NotNull">
		<if test="createTime != null and createTime != ''">
			create_time, 
		</if>
    	<if test="createId != null and createId != ''">
			create_id, 
		</if>
    	<if test="createName != null and createName != ''">
			create_name, 
		</if>
    	<if test="updateTime != null and updateTime != ''">
			update_time, 
		</if>
    	<if test="updateId != null and updateId != ''">
			update_id, 
		</if>
    	<if test="updateName != null and updateName != ''">
			update_name, 
		</if>
    	<if test="status != null and status != ''">
			status, 
		</if>
    	<if test="version != null and version != ''">
			version, 
		</if>
    	<if test="remarks != null and remarks != ''">
			remarks, 
		</if>
    	<if test="customerPackId != null and customerPackId != ''">
			customer_pack_id, 
		</if>
    	<if test="customerIdentityId != null and customerIdentityId != ''">
			customer_identity_id,
		</if>
    	<if test="identityCode != null and identityCode != ''">
			identity_code, 
		</if>
    	<if test="identityName != null and identityName != ''">
			identity_name, 
		</if>
    	<if test="imagesId != null and imagesId != ''">
			images_id, 
		</if>
    	
	</sql>
	
	<!-- 插入字段实际数值(判空) -->
	<sql id="Insert_Column_Values_NotNull">
		<if test="createTime != null and createTime != ''">
			#{createTime},
		</if>
    	<if test="createId != null and createId != ''">
			#{createId},
		</if>
    	<if test="createName != null and createName != ''">
			#{createName},
		</if>
    	<if test="updateTime != null and updateTime != ''">
			#{updateTime},
		</if>
    	<if test="updateId != null and updateId != ''">
			#{updateId},
		</if>
    	<if test="updateName != null and updateName != ''">
			#{updateName},
		</if>
    	<if test="status != null and status != ''">
			#{status},
		</if>
    	<if test="version != null and version != ''">
			#{version},
		</if>
    	<if test="remarks != null and remarks != ''">
			#{remarks},
		</if>
    	<if test="customerPackId != null and customerPackId != ''">
			#{customerPackId},
		</if>
    	<if test="customerIdentityId != null and customerIdentityId != ''">
			#{customerIdentityId},
		</if>
    	<if test="identityCode != null and identityCode != ''">
			#{identityCode},
		</if>
    	<if test="identityName != null and identityName != ''">
			#{identityName},
		</if>
    	<if test="imagesId != null and imagesId != ''">
			#{imagesId},
		</if>
    	
	</sql>
	
	<!-- 更新字段 -->
	<sql id="Update_Column">
		create_time = #{createTime},
    	create_id = #{createId},
    	create_name = #{createName},
    	update_time = #{updateTime},
    	update_id = #{updateId},
    	update_name = #{updateName},
    	status = #{status},
    	version = #{version},
    	remarks = #{remarks},
    	customer_pack_id = #{customerPackId},
		customer_identity_id = #{customerIdentityId},
    	identity_code = #{identityCode},
    	identity_name = #{identityName},
    	images_id = #{imagesId},
    	
	</sql>
	
	<!-- 更新字段（判空） -->
	<sql id="Update_Column_NotNull">
		<if test="createTime != null and createTime != ''">
			create_time = #{createTime},
		</if>
    	<if test="createId != null and createId != ''">
			create_id = #{createId},
		</if>
    	<if test="createName != null and createName != ''">
			create_name = #{createName},
		</if>
    	<if test="updateTime != null and updateTime != ''">
			update_time = #{updateTime},
		</if>
    	<if test="updateId != null and updateId != ''">
			update_id = #{updateId},
		</if>
    	<if test="updateName != null and updateName != ''">
			update_name = #{updateName},
		</if>
    	<if test="status != null and status != ''">
			status = #{status},
		</if>
    	<if test="version != null and version != ''">
			version = #{version},
		</if>
    	<if test="remarks != null and remarks != ''">
			remarks = #{remarks},
		</if>
    	<if test="customerPackId != null and customerPackId != ''">
			customer_pack_id = #{customerPackId},
		</if>
    	<if test="customerIdentityId != null and customerIdentityId != ''">
			customer_identity_id = #{customerIdentityId},
		</if>
    	<if test="identityCode != null and identityCode != ''">
			identity_code = #{identityCode},
		</if>
    	<if test="identityName != null and identityName != ''">
			identity_name = #{identityName},
		</if>
    	<if test="imagesId != null and imagesId != ''">
			images_id = #{imagesId},
		</if>
    	
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <trim suffixOverrides=",">
        <include refid="Base_Column_List"/>
        </trim>
        from customer_pack_identity
        where id = #{id,jdbcType=INTEGER}
    </select>
	<select id="selectIdentityByPackId" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from customer_pack_identity
		<where>
			status = 1
			and customer_pack_id = #{packId}
		</where>
	</select>

	<insert id="insert" parameterType="com.dwgj.mlxydedicatedline.entity.customerPack.CustomerPackIdentity">
		insert into customer_pack_identity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time, 
			create_id, 
			create_name, 
			update_time, 
			update_id, 
			update_name, 
			status, 
			version, 
			remarks, 
			customer_pack_id,
			customer_identity_id,
			identity_code,
			identity_name, 
			images_id, 
					</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Insert_Column_Values"/>
		</trim>
	</insert>
	
	<insert id="insertSelective" parameterType="com.dwgj.mlxydedicatedline.entity.customerPack.CustomerPackIdentity">
		insert into customer_pack_identity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List_NotNull"/>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Insert_Column_Values_NotNull"/>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.dwgj.mlxydedicatedline.entity.customerPack.CustomerPackIdentity">
		update customer_pack_identity
		<set>
			<include refid="Update_Column"/>
		</set>
		
		<where>
		id = #{id} and status = 1
		</where>
		
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.dwgj.mlxydedicatedline.entity.customerPack.CustomerPackIdentity">
		update customer_pack_identity
		<set>
			<include refid="Update_Column_NotNull"/>
		</set>
		<where>
		id = #{id} and status = 1
		</where>
	</update>

	<!-- 删除数据（逻辑删除） -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update  customer_pack_identity
		set `status` = 0
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 移除数据（物理删除） -->
	<delete id="removeByPrimaryKey" parameterType="java.lang.Integer">
		delete from customer_pack_identity
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <update id="deleteByCustomerPackId">
		update  customer_pack_identity
		set `status` = 0
		where customer_pack_id = #{customerPackId,jdbcType=INTEGER}
	</update>

</mapper>